<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li class="treeview"><a href="#"> <i class="fa fa-tasks"></i>
				<span>Model</span> <i class="fa fa-angle-left pull-right"></i>
			</a>
				<ul class="treeview-menu">
					<li><a href="readExitsModel"><i
							class="fa fa-circle-o"></i>SavedModel</a></li>
				</ul>
				<ul class="treeview-menu">
					<li><a href="createModel"><i
							class="fa fa-circle-o"></i>CreateModel</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
