
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<!-- <li class="active treeview">
              <a href="/dashboard.html">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li> -->
			<li class="treeview"><a href="#"> <i class="fa fa-tasks"></i>
					<span>Deployment</span> <i class="fa fa-angle-left pull-right"></i>
			</a>
				<ul class="treeview-menu">
					<li><a href="/deployment/physical.html"><i
							class="fa fa-circle-o"></i>Cluster Deployment</a></li>
					<li><a href="/deployment/partite.html"><i
							class="fa fa-circle-o"></i>Cluster Resource Allocation</a></li>
				</ul></li>
			<li class="treeview"><a href="#"> <i class="fa fa-pie-chart"></i>
					<span>Resource Usage</span> <i class="fa fa-angle-left pull-right"></i>
			</a>
				<ul class="treeview-menu">
					<li><a href="/resource/usage.html"><i
							class="fa fa-circle-o"></i>Historical Usage</a></li>
					<li><a href="/monitor/host.html"><i class="fa fa-circle-o"></i>Monitor</a></li>
				</ul></li>

			<li class="treeview"><a href="#"> <i class="fa fa-pie-chart"></i>
			        <span>Metric HeatMap</span> <i class="fa fa-angle-left pull-right"></i>
                			        </a>
                					<ul class="treeview-menu">
                					<li><a href="/monitor/heatmap/hosts.html"><i class="fa fa-circle-o"></i>Hosts HeatMap</a></li>
                					<li><a href="/monitor/heatmap/apps.html"><i class="fa fa-circle-o"></i>Clusters HeatMap</a></li>
                					</ul></li>

		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
