@(taskname:String)
<!DOCTYPE html>
<html>
<script src="@routes.Assets.versioned("static/plugins/angularjs/angular.min.js")"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Please Wait
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="@routes.Assets.versioned("static/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<script src="@routes.Assets.versioned("static/bootstrap/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("static/plugins/jquery-waiting/jquery-litelighter.js")"></script>
<script src="@routes.Assets.versioned("static/plugins/jquery-waiting/jquery-waiting.js")"></script>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope,$timeout,$http) {
  $scope.count = "0"
  $('#myPleaseWait').modal('show');
  var poll = function(){
     $timeout(
         function(){
             console.log("call..."+$scope.count)
             $http.get("/query/"+"@taskname").success(
                       function(data){
                           $scope.count = data;
                           if($scope.count != "100"){
                               poll()
                           }
                           else
                           {
                               $('#myPleaseWait').modal('hide');
                               $('#mytable').modal('show');
                           }
                       }
                   )
                   .error(function(data,status){
                       poll()
                   })
             }
         ,1000)
  }

  poll()

});
</script>

</body>
</html>