@()
<!DOCTYPE html>
<html>
<script src="@routes.Assets.versioned("static/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
@include.header()
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @include.top()
    @include.left()

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    </div>
                <div class="panel-body">
                    <a href="readExitsModel" class="btn btn-primary btn-lg btn-block">已有模型</a>
                    <a href="createModel" class="btn btn-default btn-lg btn-block">创建模型</a>
                    </div>
                </div>
            </div>
    </div><!-- /.content-wrapper -->
    @include.footer()


</div><!-- ./wrapper -->
<script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>

@include.js()
</body>
</html>
