@(arrays:Array[String])
<!DOCTYPE html>
<html>
<script src="@routes.Assets.versioned("static/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
@include.header()
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @include.top()
    @include.left()

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @for(p<-arrays){
            <tr>
                <td>@p</td>
                <td>test</td>
            </tr>
            }
            </tbody>
        </table>
    </div><!-- /.content-wrapper -->
    @include.footer()


</div><!-- ./wrapper -->
<script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>

@include.js()
</body>
</html>
