@(arrays:Array[String])
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="@routes.Assets.versioned("static/plugins/react-bootstrap-table/css/react-bootstrap-table.css")">
<script src="@routes.Assets.versioned("static/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="@routes.Assets.versioned("static/plugins/react-bootstrap-table/js/react-bootstrap-table.min.js")"></script>
@include.header()
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @include.top()
    @include.left()

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @for(p<-arrays){
            <tr>
                <td>@p</td>
                <td>test</td>
            </tr>
            }
            </tbody>
        </table>
<!--        <BootstrapTable data={products} selectRow={selectRowProp}>
            <TableHeaderColumn dataField="id" isKey={true}>Product ID</TableHeaderColumn>
            <TableHeaderColumn dataField="name">Product Name</TableHeaderColumn>
        </BootstrapTable>-->
    </div>
    @include.footer()


</div><!-- ./wrapper -->
<script>
      var ReactBsTable = window.BootstrapTable;
      var products = []
      var id = 0
      @for(p<-arrays){
          products.push({id:id,name:@p})
      }

      function onRowSelect(row, isSelected){
          console.log(row);
          console.log("selected: " + isSelected)
      }

      var selectRowProp = {
          mode: "radio",
          clickToSelect: true,
          bgColor: "rgb(238, 193, 213)",
          onSelect: onRowSelect
      };
    </script>

@include.js()
</body>
</html>
